# Include all Python source files
recursive-include waypanel/src *

# Include all Python source files
recursive-include waypanel/config *

# Include README file
include README.md

# Include LICENSE file
include LICENSE

# Include requirements file
include requirements.txt
