aiohttp==3.10.5
beautifulsoup4==4.12.3
netifaces==0.11.0
numpy==2.1.0
psutil==6.0.0
pulsectl==24.4.0
Requests==2.32.3
setuptools==69.5.1
SoundCard==0.4.3
toml==0.10.2
wayfire
pygobject-stubs
orjson
cffi
PyGObject
watchdog
