aiohttp
beautifulsoup4
numpy
psutil
validators
Requests
setuptools
SoundCard
toml
colorama
dbus-next
dbus-fast
pygobject-stubs
orjson
cffi
PyGObject
watchdog
aiosqlite
pillow
structlog
rich
cairosvg
unidecode
pygments
rapidfuzz
lazy-loader
distro
tldextract
pyamdgpuinfo
